<div>
  <div class="row">
    <div class="col-md">
      <h2>Seleccionar los parametros</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedDistancerMethod">
        <option [ngValue]="undefined" hidden>Metodo de distancia</option>
        <option [ngValue]="distance" *ngFor="let distance of distanceMethod">{{distance}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <input type="text" placeholder="Centros" class="form-control" [(ngModel)]="centers">
      <input type="text" placeholder="iteraciones maximas" class="form-control" [(ngModel)]="iter_max">
      <input type="text" placeholder="numero inicial de muestras (n-start)" class="form-control" [(ngModel)]="nstart"> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" (click)="onBack($event)">Atras</button>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">      
        <button type="button" class="btn btn-primary" (click)="onNext($event)">Siguiente</button>
    </div>
  </div>
</div>