<header>
  <div id="header-app" class="container-fluid">
    <div id="title-container" class="container-fluid">
      <div class="row">
          <div id="title-text" class="col-md-6">
            <h1><span id="title-app">Clustering App</span></h1>
          </div>
          <div id="title-image" class="col-md-6">
            <img src="../assets/images/aux_img.png" alt="">
          </div>
      </div>
    </div>
  </div>
</header>
<main>
  <div id="main-container" class="container-fluid">
    <div class="row">
        <div id="content-menu-wrap" class="col-md-8">
            <div id="content-menu" class="container-fluid"></div>
            <div id="content-menu-logo" class="container-fluid"><img src="../assets/images/Ucatolica.png" alt=""></div>
          </div>
    </div>
    <div class="row">
      <div id="menu-app" class="col-md-12">
        <app-menu-app></app-menu-app>
      </div>
    </div>
  </div>
</main>
<footer></footer>
