<div>
  <div class="row">
    <div class="col-md">
      <h2>Seleccionar separador decimal</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <select class="custom-select custom-select-lg mb-3">
        <option selected>Seleccionar el separador decimal</option>
        <option value="1">coma</option>
        <option value="2">punto</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" (click)="onBack($event)">Atras</button>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">      
        <button type="button" class="btn btn-primary" (click)="onNext($event)">Siguiente</button>
    </div>
  </div>
</div>