<div>
    <div class="row">
      <div class="col-md">
        <h2>Seleccionar los parametros</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedDistancerMethod">
          <option selected disabled>Metodo de distancia</option>
          <option [ngValue]="distance" *ngFor="let distance of distanceMethod">{{distance}}</option>
        </select>
      </div>
    </div>
    <div class="row">
        <div class="col-md">
          <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedClusterMethod">
            <option selected disabled>Metodo de cluster</option>
            <option [ngValue]="method" *ngFor="let method of clusterMethod">{{method}}</option>
          </select>
        </div>
      </div>
    <div class="row">
      <div class="col-md">
        <input type="number" placeholder="Clusters" class="form-control" [(ngModel)]="clusters">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" (click)="onBack($event)">Atras</button>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3">      
          <button type="button" class="btn btn-primary" (click)="onNext($event)">Siguiente</button>
      </div>
    </div>
  </div>